.container {
  width: 100%;
  max-width: 1350px;
  position: relative;
  text-align: center;
  height: auto;
  background:#1a1a1a;
  color:white;
  margin: auto;
  padding-top: 5px;
}

#sezione_principale {
  display: flex;
 
}

#foto {
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
 
}

#info {
  width:700px;
  
font-size:large;


  
}

#sub_info {
  color: black;
  font-weight: 400;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 30px;
}

#link_store {
  background: transparent;
}

#Titolo_gioco {
  width: 100%;
  margin: 10px 0;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 30px;
}
#year{
	font-size:medium;
	max-width:130px;
}
#GoD{
	 border-top-left-radius: 10px;
  border-top-right-radius: 10px;
	font-size:50px;
	height:100px;

	font: fantasy;
	
}
#GodT{
	padding-right:890px;
	font-size:50px;
	height:100px;	
	font: fantasy;
	
}
#favourite{
	color:white;
	background: none;
	border:none;
	text-decoration: underline;
}
@media screen and (max-width: 1400px){
	
	#info{
	width: fit-content;
  height: fit-content;
	}
	#GoD{
	font-size:30px;
	
	}
	
	#GodT{
	font-size:30px;
	
	}
	
}
#logo_piattaforma {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-size: cover;
  background-image: url("../images/steam-logo-transparent.png");
  border-radius: 100%;
  margin-left: 0px;
  text-align: right;
  text-decoration: none;
}

#link_acquisto {
  display: flex;
  text-align: center;
  height: 80px;
  width: 100%;
  padding: 0px;
  padding-bottom: 10px;
  background: pink;
}

#acquisto {
  width: 50%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

#player {
  width: 100%;
  height: 700px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

#categorie {
  width: 100%;
  height: 50px;
  font-size: medium;
  font-weight: 500;
  padding: 10px;
}

.immagine {
  width: 100%;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: 250ms transform;
}

.immagine:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 10px black;
}

#sezione_secondaria {
  padding: 60px;
  justify-content: space-around;
}

#galleria {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.6fr));
  grid-gap: 20px;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: 250ms transform;
  padding: 50px;
}

#immagine-scelto {
  max-height: 100%;
}

#descrizione {
  text-align: left;
  margin-bottom: 20px;
}

#Tit_tes {
  text-align: center;
  margin: auto;
  color: white;
}

